@model Model.Scenic

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdminManagement.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Scenic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScenicTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScenicTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScenicContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScenicContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScenicVote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScenicVote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScenicStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScenicStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScenicPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScenicPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScenicCoverImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScenicCoverImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScenicKeyWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScenicKeyWord)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
