@model Model.News
@using Model;

@{
	Layout = null;
	var news = ViewBag.News as List<News>;
}

<div class="partialView">
	<ul>
		@foreach (var item in news)
		{
			<li>
				<div>
					<div class="ndiv4">
						<img src="@item.User.UserHeadimg" style="width:50px; height:50px;" />
					</div>
					<div class="ndiv5">
						<p class="np9">@item.User.UserName</p>
						<p class="np10">							
							<input type="submit" id="voteing" class="rvote" value="点赞" data-newsid="@item.NewsId" data-newvotes="@item.NewsVote">
							<input type="text" class="showvote" readonly="readonly" value="@item.NewsVote">
						</p>
						<p class="np10">@item.PostTime </p>
					</div>
					<div class="ndiv6">
						<p class="np11">@item.NewsTitle</p>
						<p class="np12">@item.NewsContent</p>
						<img src="@item.NewsCoverImg" class="nimg5" style="margin-left:15px;" />
					</div>
					<div class="ndiv7">
						<p class="np13">@Html.ActionLink("查看详细", "NewsDetail", new { id = @item.NewsId })</p>
						<input type="button" class="collcet" style="border:none;margin-left:100px;width:150px;" value="收藏" data-newsid="@item.NewsId" />
					</div>
				</div>
			</li>
		}
	</ul>
</div>