<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="image/x-icon" href="~/Images/logol.png" rel="icon" />/> 
    @*<link href="~/Content/reset.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/amazeui.min.css" rel="stylesheet" />
    <link href="~/Content/AdminManagement/jquery-accordion-menu.css" rel="stylesheet" />
    <link href="~/Content/AdminManagement/Layout.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body>
    @*头部开始*@
    <div class="ManagementHead">
        <header class="am-topbar am-topbar-inverse am-topbar-success">
            <h1 class="am-topbar-brand">
                <a href="#" class="am-text-ir"><span>去哪儿后台管理系统</span></a>
            </h1>

            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li class="am-active"><a href="@Url.Action("Index","Home")">去哪儿首页</a></li>
                    <li class="am-dropdown" data-am-dropdown>
                        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                            功能页面 <span class="am-icon-caret-down"></span>
                        </a>
                        <ul class="am-dropdown-content">
                            <li><a href="@Url.Action("ScenicSort", "Home")">热门景区</a></li>
                            <li class="am-divider"></li>
                            <li><a href="@Url.Action("News","Home")">攻略</a></li>
                            <li class="am-divider"></li>
                            <li><a href="@Url.Action("ShopMallIndex","Home")">酒店</a></li>
                            <li class="am-divider"></li>
                            <li><a href="@Url.Action("TribuneIndex", "Home")">客服</a></li>
                            <li class="am-divider"></li>
                            <li><a href="@Url.Action("","User")">个人中心</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="am-topbar-right">
                    <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>
                            <img src="~/images/吴彦祖.jpg" width="20" height="20" /> <span class="am-icon-caret-down"></span>
                        </button>
                        <ul class="am-dropdown-content">
                            @*<li><a href="#">注册</a></li>*@
                            <li><a href="#" class="am-btn am-btn-danger"><i class="am-icon-sign-out"></i>   退出后台</a></li>
                        </ul>
                    </div>
                </div>

                <div class="am-topbar-right">
                    <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">现在时间：@DateTime.Now</button>
                </div>
            </div>
        </header>
    </div>
    @*头部结束*@


    @*左侧开始了*@
    <div class="LeftNav">
        <div id="jquery-accordion-menu" class="jquery-accordion-menu red">
            <div class="jquery-accordion-menu-header" id="form"></div>
            <ul id="nav-list">
                <li class="active"><a href="@Url.Action("Index","Administrator")"><i class="fa fa-home"></i>首页 </a></li>
                <li>
                    <a href="#"><i class="fa fa-file-image-o"></i>我的待办 </a><span class="jquery-accordion-menu-label">
                        12
                    </span>
                </li>
                <li>
                    <a href="#"><i class="fa fa-glass"></i>用户管理 </a>
                    <ul class="submenu">
                        <li><a href="@Url.Action("Index","UserManagent")">普通用户管理</a></li>
                        <li><a href="@Url.Action("Index","AdminManagemrnt")">网站管理员管理 </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog"></i>景区管理 </a>
                    <ul class="submenu">
                        <li><a href="@Url.Action("Public","ScenicManagement")" target="_blank">发布景区 </a></li>
                        <li><a href="@Url.Action("Index","ScenicManagement")">景区信息管理 </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog"></i>攻略管理 </a>
                    <ul class="submenu">
                        <li><a href="@Url.Action("Publish","NewsManagement")" target="_blank">发布攻略 </a></li>
                        <li><a href="@Url.Action("Index","NewsManagement")">攻略信息管理 </a></li>
                        <li>
                    </ul>
                </li>
                <li>
                    <a href="#">Post管理 </a>
                    <ul class="submenu">
                        <li><a href="@Url.Action("Index","Posts")">评论管理 </a></li>
                        <li><a href="@Url.Action("Index","ReplyGoodsManagement")">回复管理 </a></li>
                    </ul>
                </li>
            </ul>
            <div class="jquery-accordion-menu-footer">
                到底啦
            </div>
        </div>
    </div>
    @*左侧结束了*@


    <div class="Content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/amazeui.min.js"></script>
    <script src="~/Scripts/AdminManagement/jquery-accordion-menu.js"></script>
    <script type="text/javascript">
jQuery(document).ready(function () {
	jQuery("#jquery-accordion-menu").jqueryAccordionMenu();

});

$(function(){
	//顶部导航切换
    $("#nav-list li").click(function () {
        $("#nav-list li.active").removeClass("active")
        $(this).addClass("active");
    });

    $.expr[":"].Contains = function (a, i, m) {
        return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
    };
    function filterList(header, list) {
        //@@header 头部元素
        //@@list 无序列表
        //创建一个搜素表单
        var form = $("<form>").attr({
            "class": "filterform",
            action: "#"
        }), input = $("<input>").attr({
            "class": "filterinput",
            type: "text",
            placeholder:'快速查找...'
        });
        $(form).append(input).appendTo(header);
        $(input).change(function () {
            var filter = $(this).val();
            if (filter) {
                $matches = $(list).find("a:Contains(" + filter + ")").parent();
                $("li", list).not($matches).slideUp();
                $matches.slideDown();
            } else {
                $(list).find("li").slideDown();
            }
            return false;
        }).keyup(function () {
            $(this).change();
        });
    }
    $(function () {
        filterList($("#form"), $("#nav-list"));
    });
})
    </script>
    @RenderSection("foot", false)

</body>
</html>
